<div>
    <h2>Jogo da velha</h2>

    <div class="main"
         *ngIf="showStart">
        <a href="#"
           class="button"
           (click)="startGame()">
            Iniciar
        </a>
    </div>

    <div *ngIf="showBoard">
        <ul>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-right"></li>
            <li class="kz-border-right"></li>
            <li></li>
        </ul>
    </div>

    <div *ngIf="showEnd">
        <span>
            <p>Você venceu!!!</p>
            <p>Você perdeu...</p>
            <p>O jogo terminou empatado...</p>
            <br />
            <a href="#"
               class="button">
                Jogar novamente
            </a>
        </span>
    </div>
</div>